#about {
  background-color: aliceblue;
}

#Academic {
  background-color: aliceblue;
}

#footer {
  padding: 7% 15%;
  background-color: #e8e8e8;
  text-align: center;
}

.footer-icon {
  margin: 20px 10px;
}
